<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="semanaeng.studio.com.semanadeengenhariamaua">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".funcoes.AppController"
        android:allowBackup="true"
        android:icon="@drawable/logosemana3"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity android:name=".activity.login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.diurno" />
        <activity android:name=".activity.noturno" />
        <activity android:name=".activity.cronograma" />
        <activity android:name=".activity.patrocinadores" />
        <activity android:name=".sidebar.sobre" />
        <activity android:name=".activity.palestra" />
        <activity android:name=".sidebar.mapa" />
        <activity android:name=".sidebar.recrutamento" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.detalhes" />
        <activity android:name=".sidebar.tema" />
        <activity android:name=".sidebar.contato" />
        <activity android:name=".sidebar.ranking" />
        <activity android:name=".activity.cadastro" />
        <activity android:name=".qrcode" />
        <activity android:name=".activity.visita"></activity>
    </application>

</manifest>