<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="semanaeng.studio.com.semanadeengenhariamaua">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logosemana3"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".diurno" />
        <activity android:name=".noturno" />
        <activity android:name=".cronograma" />
        <activity android:name=".patrocinadores" />
        <activity android:name=".sobre" />
        <activity android:name=".palestra" />
        <activity
            android:name=".barra_de_navegacao"
            android:label="@string/title_activity_barra_de_navegacao"
            ></activity>
    </application>

</manifest>